@font-face {
    font-family: 'Bebas Neue';
    src: url('../../fonts/bebasneue/bebasneue-regular.eot');
    src: url('../../fonts/bebasneue/bebasneue-regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/bebasneue/bebasneue-regular.woff2') format('woff2'),
         url('../../fonts/bebasneue/bebasneue-regular.woff') format('woff'),
         url('../../fonts/bebasneue/bebasneue-regular.ttf') format('truetype'),
         url('../../fonts/bebasneue/bebasneue-regular.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('../../fonts/robotoslab/robotoslab-variablefont_wght.eot');
    src: url('../../fonts/robotoslab/robotoslab-variablefont_wght.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/robotoslab/robotoslab-variablefont_wght.woff2') format('woff2'),
         url('../../fonts/robotoslab/robotoslab-variablefont_wght.woff') format('woff'),
         url('../../fonts/robotoslab/robotoslab-variablefont_wght.ttf') format('truetype'),
         url('../../fonts/robotoslab/robotoslab-variablefont_wght.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .container {
        @apply mx-auto w-4/5 lg:w-3/5;
    }
}